
*{
    box-sizing: border-box;
}

.signin1 {
    display: flex;
    flex-direction: column;
    height:600px;
    width:1000px;
    margin: auto;
    margin-top: 50px;
    position: absolute;
    left:100px;
}
.fa-solid{
    position: relative;
    right: 200px;
    top: 60px;


}
.signin1 h1{
    font-size: 3rem;
    margin: 40px;
    text-align: 20px;
    font-weight: 600;
    align-items: center;
    left: 10px;
}
.form-signin{
    display: flex;
    flex-direction: column;
    width:50%;
    align-items: center;
    background-color:white ;

}
.box{
    padding: 12px;
    width: 100%;
    margin:15px;
    font-size: x-large;
    outline: none;
    border-radius: 30px;
    column-gap: 10px;
}
.btn-arsema{
    padding:12px 30px;
    width: 50%;
    margin-top: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 20px;

}
.social{
    position: relative;
    margin: 40px;
    font-weight: 600;
    align-content: center;
    left: 100px;

    

}
.img-social{
    display:flex;
    gap: 60px;
    position: relative;
    top: 50px;
    left: 0;
    

}
.family{
    position: relative;
    top: 0;
    left: 0;
}
.parent{
    position: relative;
    top: 0;
    left: 0;
    border:1px solid black ;
    border-radius: 60px;

}
.child{
    position: absolute;
    top: 20px;
    left: 25px;
}
.family1{
    position: relative;
    top: 0;
    left: 0;
}
.parent1{
    position: relative;
    top: 0;
    left: 0;
    border:1px solid black ;
    border-radius: 60px;

}
.child1{
    position: absolute;
    top: 20px;
    left: 15px;
}
.family2{
    position: relative;
    top: 0;
    left: 0;
}
.parent2{
    position: relative;
    top: 0;
    left: 0;
    border:1px solid black ;
    border-radius: 60px;

}
.child2{
    position: absolute;
    top: 30px;
    left: 25px;
}
.family3{
    position: relative;
    top: 0;
    left: 0;
    
}
.parent3{
    position: relative;
    top: 0;
    left: 0;
    border:1px solid black ;
    border-radius: 60px;

}
.child3{
    position: absolute;
    top: 30px;
    left: 30px;
}

    
.side{
    
    width:50%;;
    padding:20px;
    position: absolute;
    top: 20px;
    left: 70%;
    
    

}
.side-img{
    margin-right: 10px;
    max-width: 45%;
    max-height: 75%;

}

/*signin*/
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-position: 50px;
    border: 1px border solid black;
}


.sign-in12 {
    display: flex;
    flex-direction:column;
    height:600px;
    width:1000px;
    margin: auto;
    margin-top: 50px;

}

.fa-solid{
    position: relative;
    right: 200px;
    top: 60px;


}
.signin-up{
margin-left: auto;
    position: relative;
    right:600px
}


.signin-up:before {
    content: "";
    position: absolute;
    height: 2500px;
    width: 2000px;
    top: -25%;
    right:-7%;
    transform: translateY(-50%);
    background-image: linear-gradient(-45deg, #0626d7 20%, #2a0dbb 100%);
    border-radius: 50%;
    z-index: 6;
}
.img23{
    position: relative;
    left: 190px;
    top: 200px;
    z-index: 10;
    

}
.sign-in12 h1{
    font-size: 3rem;
    margin: 10px;
    text-align: 20px;
    font-weight: 600;
    align-items: center;
    position: relative;
    left: 120px;

}
.btn-blue{
    padding:12px 12px;
    width: -100px;

    margin-top: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 20px;
    position: relative;
    left: -10px;
    top: 10px;
    z-index: 10;
}


.sign-in12 p{
    position: relative;
    color: aliceblue;
    left: 100px;
    top: 10px;
    z-index: 10; 
    font-size: x-large;
}

.form-signin12{
    display: flex;
    flex-direction: column;
    width:50%;
    align-items: center;
    background-color:white ;


}
.box234{
    position: relative;
    bottom:700px;
    left:700px;
    
    
}
.box1{
    padding: 12px;
    width: 100%;
    margin:15px;
    font-size: x-large;
    outline: none;
    border-radius: 30px;
    column-gap: 10px;
}
.btn-arsema{
    padding:12px 30px;
    width: 50%;
    margin-top: 40px;
    background-color: blue;
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 20px;

}
.social1{
    position: relative;
    margin: 40px;
    font-weight: 600;
    align-content: center;
    left: 100px;

    

}
.img-social1{
    display:flex;
    gap: 60px;
    position: relative;
    top: 50px;
    left: 0;
    

}


/* (Erm's Territory) */



/* /* .general{
max-width: 565px;
    max-height: 150px;
    display: flex;
    justify-content: center;
} */

.line{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    border: 1px solid gray;
    
}

.how_it_works{
    
    text-align: center;
    font-weight:  black;
    

}
.square1{
    max-width: 785px;
    max-height: 590px;
    margin: 33px auto 0;
    background: blue;
    color: white;
    border-radius: 10px;   
    display: flex; 
    align-items: center;
    flex-direction: row-reverse;
    border: px gray;
    /* overflow: hidden; */
}

.square1pic{
    /* max-width: 440px ; */
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid gray;
    padding-top: 70px;
    padding-right: 35px;
    padding-left: 70px;
    padding-bottom: 100px;

}

.square1blue{
    border-top-left-radius: 1px solid gray;
    padding-left: 30px;
    padding-right: 85px;
    padding-bottom: 100px;

    
    
}

.title1{
    width: 100%;
    padding-left: 20%;
    

}

.p1{

    width: 100%;
    

}
.ptext{
    text-align: center;
    margin-top: 90px;
    margin-bottom: 70px;
    
}
.square2{
    max-width: 785px;
    max-height: 590px;
    margin: 33px auto 0;
    background: blue;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    /* gap: 50px; */
    flex-direction: row-reverse;
    /* border: 1px solid gray; */
}

.square2pic {
    max-width: 440px;
    background-color: white;
    /* border: 1px solid gray; */
    padding-top: 90px;
    padding-right: 35px;
    padding-left: 10px;
    padding-bottom: 30px;
}
    /* .square2blue{ */


.title2 {
    width: 100%;
    text-align: center;
}

.p2 {
    margin-left: 45px;
    margin-right: 25px;
}
/* .square2blue {
    max-width: 440px;
    max-height: 50px;
    display: 
} */

/* (Erm's Territory) */

.middle-top-p{
    border-top: 1px solid lightgray;
    margin: 80px;
    text-align: center;
}

.img-middle-tp{
    margin-left: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 50px;
}

.grid-img-middle-left{
    border: 1px solid lightgray;
    width: fit-content;
    margin: 50px;
    padding: 28px 65px 28px;
    border-radius: 20px;
    font-size: 23px;
    line-height: 20px;
    background-color: blue;
}
.pricing{
    margin-left: 6px;
    background-color: white;
    width: fit-content;
    padding: 30px 30px 30px;
    border-radius: 70px;
}

.grid-img-middle-left2{
    border: 1px solid lightgray;
    width: fit-content;
    margin: 50px;
    padding: 28px 65px 28px;
    border-radius: 20px;
    font-size: 23px;
    line-height: 20px;
}

.grid-img-middle-right{
    border: 1px solid lightgray;
    width: fit-content;
    margin: 50px;
    padding: 28px 65px 28px;
    border-radius: 20px;
    font-size: 23px;
    line-height: 50px;
}

.grid-img-middle-right2{
    border: 1px solid lightgray;
    width: fit-content;
    margin: 50px;
    padding: 28px 65px 28px;
    border-radius: 20px;
    font-size: 23px;
    line-height: 50px;
}

.middle-start-payments{
    margin-left: 105px;
    margin-right: 105px;
    border: 1px solid lightgray;
    max-width: 1400px;
    max-height: 2600px;
    margin: 70px auto o;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 98px;
}

.middle-start{
    border-left: 2px solid grey;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: blue;
    color: white;
}

@media( max-width = 658){
    .img-middle-tp{
        display: grid;
        grid-template-columns: 1fr;
        
    }
}

.btn-payments{
    width: 300px;
    padding-right:150px;
    background-color: blue;
    border-radius: 10px;
    border: 2px solid white;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.btn-payments a{
    color: white;
    display: flex;
    padding-left: 100px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}
.Solutions{
    font-size: 30px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
}

.items-for-solution{
    margin-top: 50px;
    margin-left: 100px;
    gap: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

.items-for-solution1 img{
    padding: 30px;
    margin-left: 35px;
    background-size: 100% 125px;
    background-image: url(/images/Ellipse\ -1@2x.png);
    background-repeat: no-repeat;
}

.items-for-solution2 img{
    padding: 30px;
    margin-left: 35px;
    background-size: 100% 125px;
    background-image: url(/images/Ellipse\ -1@2x.png);
    background-repeat: no-repeat;
}

.items-for-solution2 h3{
    padding-left: 30px;
}

.item-for-solution2 img{
    padding: 30px;
    margin-left: 35px;
    background-size: 100% 125px;
    background-image: url(/images/Ellipse\ -1@2x.png);
    background-repeat: no-repeat;
}

.item-for-solution2 h3{
    padding-left: 60px;
}

.btn-for-solutions{
    background-color: white;
    margin-left: 50px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.items-for-solution1 h3{
    padding-left: 40px;
}

.items-for-solution1 p{
    padding-top: 10px;
    padding-bottom: 20px;
}


*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: black;
}

header{
    display: flex;
    margin: 0 30px;
    gap: 10px;
    max-height: 50px;
}

header img{
    width: 200px;
}

header ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: auto;
    align-items: center;
    width: 100%;
}

header ul li{
    margin: auto;
}

.header-signin{
    width: 30%;
    
}

.header-signin a{
    float: right;
    margin: auto;
}

.btn{
    text-decoration: none;
    color: blue;
    padding: 10px 20px;
    border: 3px solid blue;
    border-radius: 10px;
}

.dark-btn{
    color: white;
    background-color: blue;
}

.hero-section{
    display: grid;
    display: flex;
    align-items: center;
    gap: 50px;
    margin: auto;
    width: fit-content;
}

.hero-content{
    min-width: 500px;
}

.hero-content h1{
    font-size: 50px;
    max-width: 400px;
}

.hero-content h2{
    font-size: 35px;
}

.hero-content p{
    color: gray;
    max-width: 425px;
}

.buttonrow{
    margin: 30px 0px 20px 0px;
}

.hero-content-h3{
    display: flex;
    align-items: center;
    color: gray;
}
.hero-content-signin{
    color: gray;
    margin-left: 5px;
    font-weight: 900;
}

.hero-content-perks{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    width: fit-content;
    gap: 10px;
    font-size: 12px;
}


.hero-content-perks img{
    max-width: 5px;
}

.hero-img img{
    width: 100%;
    min-width: 300px;
    max-height: 500px;
}

footer{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 20px;
}

footer .btn{
    background-color: white;
    color: blue;
}

footer .gettingstarted{
    background-color: green;
    color: white;
}

@media(max-width: 1000px){
    .hero-section{
        flex-direction: column-reverse;
    }
    header{
        display: none;
    }
}


